In [1]:
import random

import pandas as pd

import pyfact
import cyfact # type: ignore


from tqdm.notebook import tqdm
tqdm.pandas()

In [2]:
df = pd.DataFrame({'x': [random.randint(1, 100) for _ in range(1_000_000)]})
df.head()

    x
0  58
1  27
2  71
3  62
4  87

In [3]:
%%time
result = df['x'].progress_apply(pyfact.factorial)

  0%|          | 0/1000000 [00:00<?, ?it/s]

CPU times: user 1.58 s, sys: 25.3 ms, total: 1.6 s
Wall time: 1.63 s

In [4]:
%%time
result = df['x'].progress_apply(cyfact.factorial)

  0%|          | 0/1000000 [00:00<?, ?it/s]

CPU times: user 400 ms, sys: 12.4 ms, total: 413 ms
Wall time: 413 ms